$primary-color: #E75336;
$primary-text-color: #333333;

$mobile-screen-size: 600px;
$medium-screen-size: 768px;
$medium-large-screen-size: 900px;
$large-screen-size: 1280px;

$font-weigth-normal: 400;
$font-weigth-bold: 500;
$font-weigth-bolder: 600;

$border-radius-1: 8px;