@import '@/styles/variables';

.main {
    display: flex;
    padding: 32px 100px;
    @media (max-width: $mobile-screen-size) {
        padding: 32px 16px;
    }
    .infoSection {
        display: flex;
        flex-direction: column;

        h1 {
            max-width: 456px;
            > span {
                color: $primary-color;
            }
        }

        p {
            max-width: 396px;
            > span {
                font-weight: $font-weigth-bolder;
            }
        }
    }
    .imageSection {
        position: absolute;
        top: -13.26388888888889vw;
        right: -13.402777777777779vw;
        z-index: -3;
        background-image: url('/background-home.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 90.69444444444444vw;
        height: 74.02777777777777vw;

        @media (max-width: $large-screen-size) {
            width: 1306px;
            height: 1066px;
            top: -220px;
            right: -532px;
        }
        @media (max-width: $medium-large-screen-size) {
            top: -240px;
            right: -732px;
        }
        @media (max-width: $mobile-screen-size) {
            top: -282px;
            right: -806px;
        }
    }
}