@import '@/styles/variables';

$test-color: blue;

.navbarContainer {
    padding: 0 80px;
    .navbar {
        padding: 16px 32px;
        display: flex;
        align-items: center;

        .brandLogo {
            margin-right: 40px;
        }

        .menuLeft, 
        .menuRight {
            display: flex;
            align-items: center;            
            gap: 24px;
        }

        .menuRight {
            margin-left: auto;
        }
    }
}

.navLink {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 0;
        height: 1.5px;
        background-color: $primary-color;
        transition: width 0.3s ease;
      }

    &:hover::after,
    &:focus::after {
        width: 100%;
    }
}