@import '@/styles/variables';

$test-color: blue;

.navbarContainer {
    height: 114px;
    padding: 0 80px;
    @media (max-width: $large-screen-size) {
        background-color: white;
    }
    @media (max-width: $mobile-screen-size) {
        padding: 0 16px;
    }
    .navbar {
        padding: 16px 32px;
        @media (max-width: $mobile-screen-size) {
            padding: 16px 0;
          }
        display: flex;
        align-items: center;

        .brandLogo {
            margin-right: 40px;
        }

        .menu {
            display: flex;
            align-items: center;
            flex-grow: 1;
            .menuLeft, 
            .menuRight {
                display: flex;
                align-items: center;            
                gap: 24px;
            }
    
            .menuRight {
                margin-left: auto;
            }
            @media (max-width: $large-screen-size) {
                padding: 16px 0;
                background-color: white;
                position: absolute;
                top: 114px;
                left: 0;
                width: 100%;
                flex-direction: column;
                gap: 24px;
                .menuLeft, 
                .menuRight {
                    flex-direction: column;
                    margin-left: initial;
                }
                z-index: -1;
                transition: transform 0.6s ease;
                transform: translateY(-100%);
                box-shadow: 0 1px 16px $primary-color;
            }

            &.show {                
                transform: translateY(0);                
            }
        }

        .collapseMenuButton {
            cursor: pointer;
            border: none;
            border-radius: $border-radius-1;
            height: 44px;
            width: 88px;
            background-color: white;
            border: 1px solid $primary-color;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            span {
                height: 1.5px;
                width: 44px;
                background-color: $primary-color;
                transition: background-color 0.3s ease;
            }

            @media (min-width: $large-screen-size) {
                display: none;
            }
            transition: background-color 0.3s ease;

            &:hover, &.show {
                background-color: $primary-color;
                span {
                    background-color: white;
                }
            }
        }
    }
}

.navLink {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 0;
        height: 1.5px;
        background-color: $primary-color;
        transition: width 0.3s ease;
      }

    &:hover::after,
    &:focus::after,
    &.active::after {
        width: 100%;
    }
}